[Unit]
Description=BASH-CD Continuous Deployment Service
After=syslog.target network.target

[Service]
User=root
Type=simple
Restart=always
ExecStart=/opt/bash-cd-server.sh

[Install]
WantedBy=multi-user.target