[Unit]
Description=Git Daemon

[Service]
ExecStart=/usr/bin/git daemon --base-path=/data/git --verbose --export-all --enable=receive-pack /data/git
Restart=always
RestartSec=500ms
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=git-daemon
User=git
Group=git

[Install]
WantedBy=multi-user.target