[Unit]
Description=Confluent Schema Registry
After=syslog.target network.target

[Service]
User=root
Type=simple
Restart=always
RestartSec=3
#Environment=SCHEMA_REGISTRY_OPTS=-Djava.security.auth.login.config=/etc/schema-registry/jaas.conf
ExecStart=/bin/bash /usr/bin/schema-registry-start /etc/schema-registry/schema-registry.properties

[Install]
WantedBy=multi-user.target