[Unit]
Description=Apache Kafka Broker
After=syslog.target network.target
#Conflicts=

[Service]
User=root
Type=simple
Restart=always
RestartSec=3
#Environment=KAFKA_OPTS=-Djava.security.auth.login.config=/etc/kafka/jaas.conf
#Environment=JMX_PORT=...
#Environment='KAFKA_JMX_OPTS=-Dcom.sun.management.jmxremote -Djava.rmi.server.hostname=localhost -Dcom.sun.management.jmxremote.rmi.port=... -Dcom.sun.management.jmxremote.port=... -Dcom.sun.management.jmxremote.local.only=false -Dcom.sun.management.jmxremote.authenticate=false -Dcom.sun.management.jmxremote.ssl=false'
ExecStart=/bin/bash /opt/kafka/current/bin/kafka-server-start.sh /etc/kafka/server.properties

[Install]
WantedBy=multi-user.target